[Unit]
Description=Sirena service
After=network-online.target

[Service]
Restart=always
RestartSec=3

WorkingDirectory=/home/user/sirena2
ExecStart=/home/user/sirena2/daemon -key 1ed519170d34e99df23d39363fe53144a86bb6f9ab2203 -trevoga trevoga.mp3 -vidbiy vidbiy.mp3

[Install]
WantedBy=default.target
